version: '3.7'

services:
  api:
    build: .
    image: expdev07/coronavirus-tracker-api:2.0
    restart: always
    volumes:
      - .:/api
    ports:
      - "8000:8000"
    stdin_open: true
    tty: true
