[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
async-asgi-testclient = "*"
bandit = "*"
black = "==19.10b0"
coveralls = "*"
invoke = "*"
isort = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"

[packages]
aiohttp = "*"
asyncache = "*"
cachetools = "*"
fastapi = "*"
gunicorn = "*"
python-dateutil = "*"
python-dotenv = "*"
requests = "*"
uvicorn = "*"

[requires]
python_version = "3.8"

[scripts]
dev = "uvicorn app.main:APP --reload"
start = "uvicorn app.main:APP"
fmt = "invoke fmt"
sort = "invoke sort"
lint = "invoke lint"
test = "invoke test"
