[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
async-asgi-testclient = "*"
async_generator = "*"
asyncmock = "*"
bandit = "*"
black = "==19.10b0"
coveralls = "*"
importlib-metadata = {version = "*",markers = "python_version<'3.8'"}
invoke = "*"
isort = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
responses = "*"

[packages]
aiocache = {extras = ["redis"],version = "*"}
aiofiles = "*"
aiohttp = "*"
asyncache = "*"
cachetools = "*"
dataclasses = {version = "*",markers = "python_version<'3.7'"}
fastapi = "*"
gunicorn = "*"
idna_ssl = {version = "*",markers = "python_version<'3.7'"}
pydantic = {extras = ["dotenv"],version = "*"}
python-dateutil = "*"
requests = "*"
scout-apm = "*"
sentry-sdk = "*"
uvicorn = "*"

[requires]
python_version = "3.8"

[scripts]
dev = "uvicorn app.main:APP --reload  --log-level=debug"
start = "uvicorn app.main:APP"
fmt = "invoke fmt"
sort = "invoke sort"
lint = "invoke lint"
test = "invoke test"
