-i https://pypi.org/simple
aiohttp==3.6.2
async-timeout==3.0.1
asyncache==0.1.1
attrs==19.3.0
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
dataclasses==0.6 ; python_version < '3.7'
fastapi==0.53.2
gunicorn==20.0.4
h11==0.9.0
httptools==0.1.1 ; sys_platform != 'win32' and sys_platform != 'cygwin' and platform_python_implementation != 'PyPy'
idna-ssl==1.1.0 ; python_version < '3.7'
idna==2.9
multidict==4.7.5
pydantic==1.4
python-dateutil==2.8.1
python-dotenv==0.12.0
requests==2.23.0
six==1.14.0
starlette==0.13.2
urllib3==1.25.8
uvicorn==0.11.3
uvloop==0.14.0 ; sys_platform != 'win32' and sys_platform != 'cygwin' and platform_python_implementation != 'PyPy'
websockets==8.1
yarl==1.4.2
