-i https://pypi.org/simple/
appdirs==1.4.4
astroid==2.5.0
async-asgi-testclient==1.4.5
async-generator==1.10
asyncmock==0.4.2
attrs==21.2.0
bandit==1.7.0
black==19.10b0
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
coverage==5.5
coveralls==3.0.0
docopt==0.6.2
gitdb==4.0.7
gitpython==3.1.16
idna==2.10
importlib-metadata==3.7.0 ; python_version < '3.8'
iniconfig==1.1.1
invoke==1.5.0
isort==5.7.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
mock==4.0.3
multidict==5.1.0
packaging==20.9
pathspec==0.8.1
pbr==5.6.0
pluggy==0.13.1
py==1.10.0
pylint==2.7.1
pyparsing==2.4.7
pytest-asyncio==0.14.0
pytest-cov==2.11.1
pytest==6.2.2
pyyaml==5.4.1
regex==2021.4.4
requests==2.25.1
responses==0.12.1
six==1.16.0
smmap==4.0.0
stevedore==3.3.0
toml==0.10.2
typed-ast==1.4.3
urllib3[secure]==1.26.4 ; python_version >= '3.5'
wrapt==1.12.1
zipp==3.4.1
