-i https://pypi.org/simple/
aiocache[redis]==0.11.1
aiofiles==0.6.0
aiohttp==3.7.4
aioredis==1.3.1
asgiref==3.3.4 ; python_version >= '3.5'
async-timeout==3.0.1
asyncache==0.1.1
attrs==21.2.0
cachetools==4.2.1
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cryptography==3.4.7
dataclasses==0.6 ; python_version < '3.7'
fastapi==0.63.0
gunicorn==20.0.4
h11==0.12.0
hiredis==2.0.0
httptools==0.1.2
idna-ssl==1.1.0 ; python_version < '3.7'
idna==2.10
multidict==5.1.0
psutil==5.8.0
pycparser==2.20
pydantic[dotenv]==1.8
pyopenssl==20.0.1
python-dateutil==2.8.1
python-dotenv==0.17.1
pyyaml==5.4.1
requests==2.25.1
scout-apm==2.18.0
sentry-sdk==0.20.3
six==1.16.0
starlette==0.13.6
typing-extensions==3.10.0.0
urllib3[secure]==1.26.5
uvicorn[standard]==0.13.4
uvloop==0.15.2
watchgod==0.7
websockets==8.1
wrapt==1.12.1
yarl==1.6.3
